flows.json
[{"id":"4bc65957.cad3a8","type":"tab","label":"Outside light on after dark","disabled":false,"info":""},{"id":"613d7713.ee4b48","type":"tab","label":"Bedroom Motion Sensor","disabled":false,"info":""},{"id":"3672a8e4.bc9648","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"67db9ee3.6b372","type":"tab","label":"Nighttime","disabled":false,"info":""},{"id":"64aa25ad.8ed09c","type":"tab","label":"Commute Times","disabled":false,"info":""},{"id":"1a0240aa.06adef","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"20392ed7.f5e472","type":"server","z":"","name":"Home Assistant"},{"id":"a3614ad9.1f0228","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c75d688.65f059","type":"join-config","z":"","name":"","register":true},{"id":"a3061cbf.58aad","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc622087.877b4","type":"ui_group","z":"","name":"Default","tab":"a3061cbf.58aad","disp":true,"width":"6","collapse":false},{"id":"1c1f484c.c57c08","type":"join-server","z":"","name":"","port":"1820","joinConfig":"1c75d688.65f059"},{"id":"a8fc6551.2edcc8","type":"api-call-service","z":"4bc65957.cad3a8","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_on","entityId":"light.outside","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":40,"wires":[[]]},{"id":"2749ef56.20d87","type":"bigtimer","z":"4bc65957.cad3a8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"38.6687","lon":"-90.33187","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":100,"y":80,"wires":[["e783c729.daff38"],[],["e783c729.daff38"]]},{"id":"e783c729.daff38","type":"switch","z":"4bc65957.cad3a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":80,"wires":[["a8fc6551.2edcc8"],["5106ae0e.7f5c1"]]},{"id":"5106ae0e.7f5c1","type":"api-call-service","z":"4bc65957.cad3a8","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.outside","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":120,"wires":[[]]},{"id":"5fbaffb1.57337","type":"server-state-changed","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"entityidfilter":"binary_sensor.bedroom_sensor_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":220,"y":120,"wires":[["f4a4b787.750558","68aa86ac.f17828"]]},{"id":"68aa86ac.f17828","type":"debug","z":"613d7713.ee4b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":60,"wires":[]},{"id":"f4a4b787.750558","type":"switch","z":"613d7713.ee4b48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":120,"wires":[["8f7fa13f.550e8","52240cd9.d2df24"],[]]},{"id":"6143a9fb.3a6a28","type":"api-call-service","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_on","entityId":"light.joshua_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":100,"wires":[[]]},{"id":"714e47c9.e0d868","type":"api-call-service","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.joshua_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":160,"wires":[[]]},{"id":"8f7fa13f.550e8","type":"stoptimer","z":"613d7713.ee4b48","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":700,"y":180,"wires":[["714e47c9.e0d868"],[]]},{"id":"52240cd9.d2df24","type":"time-range-switch","z":"613d7713.ee4b48","name":"","lat":"38.663","lon":"-90.32779","startTime":"06:30","endTime":"22:30","startOffset":0,"endOffset":0,"x":690,"y":100,"wires":[["c4c9fdf0.942a4"],[]]},{"id":"e313ee8d.36d46","type":"function","z":"3672a8e4.bc9648","name":"","func":"const globalHomeAssistant = global.get('homeassistant');\nconst joshua = globalHomeAssistant.homeAssistant.states[\"person.joshua\"].state === \"home\";\nconst josie = globalHomeAssistant.homeAssistant.states[\"person.josie\"].state === \"home\";\nmsg.states = {joshua:joshua, josie:josie}\nif (joshua || josie) {\n    msg.payload = \"home\";\n    return [msg,null];\n} else {\n    msg.payload = \"both_not_home\";\n    return [null,msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":390,"y":140,"wires":[["a3f24472.b81448"],["a3f24472.b81448"]]},{"id":"a3f24472.b81448","type":"state-machine","z":"3672a8e4.bc9648","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["home","both_not_home"],"transitions":[{"name":"both_not_home","from":"home","to":"both_not_home"},{"name":"home","from":"both_not_home","to":"home"}],"x":580,"y":140,"wires":[["45b8f7ff.b5c4c8"]]},{"id":"45b8f7ff.b5c4c8","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"both_not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":140,"wires":[["2c0d355b.42271a"],["a20c82df.90444"]]},{"id":"a20c82df.90444","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp, switch.floor_lamp, switch.pumpkin","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":180,"wires":[[]]},{"id":"2c0d355b.42271a","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":100,"wires":[[]]},{"id":"aed3748b.1874b8","type":"server-state-changed","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"entityidfilter":"person.joshua","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":100,"wires":[["e313ee8d.36d46","d155816c.10251"]]},{"id":"2073a34a.3f971c","type":"server-state-changed","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"entityidfilter":"person.josie","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":180,"wires":[["e313ee8d.36d46","e78d17c.df62fe8"]]},{"id":"d155816c.10251","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":80,"wires":[["1f4d1eeb.a07461"],["fd21462d.201638"]]},{"id":"e78d17c.df62fe8","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":200,"wires":[["930098a6.f542d8","4b7a978f.c5f9a8"],["63023ee8.cdcbf"]]},{"id":"a2e03d67.8258b","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.pumpkin","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":200,"wires":[[]]},{"id":"63023ee8.cdcbf","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.josie_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":260,"wires":[[]]},{"id":"fd21462d.201638","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.joshua_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":80,"wires":[[]]},{"id":"10fb2065.f22b8","type":"inject","z":"67db9ee3.6b372","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["35664d1f.a01552"]]},{"id":"dfc520bd.a4c9a","type":"api-call-service","z":"67db9ee3.6b372","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_off","entityId":"group.all_switches","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":280,"wires":[[]]},{"id":"930098a6.f542d8","type":"switch","z":"3672a8e4.bc9648","name":"","property":"night","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":200,"wires":[["a2e03d67.8258b"]]},{"id":"c4c9fdf0.942a4","type":"api-current-state","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.bedroom_sensor_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1010,"y":80,"wires":[["5efa38e6.031d98"]]},{"id":"5efa38e6.031d98","type":"switch","z":"613d7713.ee4b48","name":"","property":"data.attributes.dark","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":100,"wires":[["6143a9fb.3a6a28"]]},{"id":"77b2b7e8.9b8c38","type":"inject","z":"67db9ee3.6b372","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["89e1eaaf.8cba48"]]},{"id":"b6eb6161.9cfb6","type":"api-call-service","z":"67db9ee3.6b372","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":360,"wires":[[]]},{"id":"b9dd14b1.d8b428","type":"inject","z":"67db9ee3.6b372","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 6,0","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["89e1eaaf.8cba48"]]},{"id":"8db98a94.863238","type":"api-call-service","z":"64aa25ad.8ed09c","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"homeassistant","service":"update_entity","entityId":"sensor.google_travel_time_driving","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":490,"y":100,"wires":[[]]},{"id":"faa07a11.035138","type":"inject","z":"64aa25ad.8ed09c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 6-7 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":230,"y":100,"wires":[["8db98a94.863238","c1869d0f.dc6cd"]]},{"id":"c1869d0f.dc6cd","type":"api-current-state","z":"64aa25ad.8ed09c","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.google_travel_time_driving","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":220,"wires":[["f5f23c79.411b7"]]},{"id":"f5f23c79.411b7","type":"switch","z":"64aa25ad.8ed09c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"29","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":220,"wires":[["1c4d24ed.54d0ab"]]},{"id":"b1ddd18e.56b03","type":"join-message","z":"64aa25ad.8ed09c","name":"","text":"","title":"Long Commute Time","url":"","notificationicon":"","joinConfig":"1c75d688.65f059","x":980,"y":220,"wires":[[]]},{"id":"1c4d24ed.54d0ab","type":"rbe","z":"64aa25ad.8ed09c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":850,"y":220,"wires":[["b1ddd18e.56b03"]]},{"id":"4b7a978f.c5f9a8","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.living_room_display","data":"{\"message\":\"Welcome home, Josie\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":320,"wires":[[]]},{"id":"1f4d1eeb.a07461","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.living_room_display","data":"{\"message\":\"Welcome home, Joshua\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":40,"wires":[[]]},{"id":"679fa9f2.ab1ab8","type":"server-state-changed","z":"4bc65957.cad3a8","name":"","server":"20392ed7.f5e472","version":1,"entityidfilter":"weather.home_2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"rain","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":320,"wires":[["20809e35.de39f2"],[]]},{"id":"ff05b47d.7118c8","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["bfa23736.707268"]]},{"id":"bfa23736.707268","type":"api-current-state","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.joshua_s_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":120,"wires":[["9e90f03b.c55be"]]},{"id":"9e90f03b.c55be","type":"debug","z":"1a0240aa.06adef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":120,"wires":[]},{"id":"20809e35.de39f2","type":"api-call-service","z":"4bc65957.cad3a8","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.all_speakers","data":"{\"message\":\"It is currently raining\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":320,"wires":[[]]},{"id":"35664d1f.a01552","type":"api-call-service","z":"67db9ee3.6b372","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":120,"wires":[[]]},{"id":"89e1eaaf.8cba48","type":"api-call-service","z":"67db9ee3.6b372","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":180,"wires":[[]]},{"id":"edac3c6f.f3bc6","type":"poll-state","z":"67db9ee3.6b372","name":"","server":"20392ed7.f5e472","version":1,"updateinterval":"1","updateIntervalUnits":"hours","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.night_mode","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":160,"y":280,"wires":[["dfc520bd.a4c9a"],[]]},{"id":"3cbc1740.cb4458","type":"server-state-changed","z":"67db9ee3.6b372","name":"","server":"20392ed7.f5e472","version":1,"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":360,"wires":[[],["b6eb6161.9cfb6"]]}]