flows.json
[{"id":"4bc65957.cad3a8","type":"tab","label":"Outside light on after dark","disabled":false,"info":""},{"id":"613d7713.ee4b48","type":"tab","label":"Bedroom Motion Sensor","disabled":false,"info":""},{"id":"3672a8e4.bc9648","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"20392ed7.f5e472","type":"server","z":"","name":"Home Assistant"},{"id":"a3614ad9.1f0228","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c75d688.65f059","type":"join-config","z":"","name":"","register":false},{"id":"a8fc6551.2edcc8","type":"api-call-service","z":"4bc65957.cad3a8","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_on","entityId":"light.outside","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":180,"wires":[["ba5d075f.7cf3b8"]]},{"id":"a778fa24.8fcf78","type":"inject","z":"4bc65957.cad3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":320,"wires":[["a8fc6551.2edcc8"]]},{"id":"2749ef56.20d87","type":"bigtimer","z":"4bc65957.cad3a8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"38.6687","lon":"-90.33187","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":260,"y":140,"wires":[["e783c729.daff38"],[],["e783c729.daff38"]]},{"id":"e783c729.daff38","type":"switch","z":"4bc65957.cad3a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["a8fc6551.2edcc8"],["5106ae0e.7f5c1"]]},{"id":"5beb923c.68ddfc","type":"inject","z":"4bc65957.cad3a8","name":"","topic":"","payload":"1","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["2749ef56.20d87"]]},{"id":"29889ee9.1b9642","type":"inject","z":"4bc65957.cad3a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["2749ef56.20d87"]]},{"id":"93bfaaa5.e34088","type":"inject","z":"4bc65957.cad3a8","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["2749ef56.20d87"]]},{"id":"ba5d075f.7cf3b8","type":"debug","z":"4bc65957.cad3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":180,"wires":[]},{"id":"5106ae0e.7f5c1","type":"api-call-service","z":"4bc65957.cad3a8","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.outside","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":260,"wires":[["ba5d075f.7cf3b8"]]},{"id":"5fbaffb1.57337","type":"server-state-changed","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"entityidfilter":"binary_sensor.bedroom_sensor_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":220,"y":120,"wires":[["f4a4b787.750558","68aa86ac.f17828"]]},{"id":"68aa86ac.f17828","type":"debug","z":"613d7713.ee4b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":60,"wires":[]},{"id":"f4a4b787.750558","type":"switch","z":"613d7713.ee4b48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":120,"wires":[["8f7fa13f.550e8","52240cd9.d2df24"],[]]},{"id":"6143a9fb.3a6a28","type":"api-call-service","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":80,"wires":[[]]},{"id":"714e47c9.e0d868","type":"api-call-service","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":160,"wires":[[]]},{"id":"8f7fa13f.550e8","type":"stoptimer","z":"613d7713.ee4b48","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":700,"y":180,"wires":[["714e47c9.e0d868"],[]]},{"id":"799d0fd4.db0b4","type":"ping","z":"3672a8e4.bc9648","name":"","host":"192.168.86.92","timer":"20","x":110,"y":220,"wires":[["6e33515.39382b"]]},{"id":"c454e4e5.1f8428","type":"state-machine","z":"3672a8e4.bc9648","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["home","away"],"transitions":[{"name":"home","from":"away","to":"home"},{"name":"away","from":"home","to":"away"}],"x":620,"y":220,"wires":[["ec78d0fd.20a46"]]},{"id":"6e33515.39382b","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"regex","v":"[0-9.]*","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":220,"wires":[["b141e01c.58d5c"],["c8173983.6ce318"]]},{"id":"c8173983.6ce318","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["c454e4e5.1f8428"]]},{"id":"b141e01c.58d5c","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["c454e4e5.1f8428"]]},{"id":"ec78d0fd.20a46","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"away","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":220,"wires":[["58c951c3.120c6","f6928b59.26b6c8"],["b546acfb.febb6"]]},{"id":"58c951c3.120c6","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":200,"wires":[[]]},{"id":"52240cd9.d2df24","type":"time-range-switch","z":"613d7713.ee4b48","name":"","lat":"38.663","lon":"-90.32779","startTime":"06:30","endTime":"22:30","startOffset":0,"endOffset":0,"x":690,"y":100,"wires":[["6143a9fb.3a6a28"],[]]},{"id":"3e5b4b2a.e6f994","type":"ping","z":"3672a8e4.bc9648","name":"","host":"192.168.86.88","timer":"20","x":110,"y":380,"wires":[["e823811c.14e7e"]]},{"id":"5b867d7e.c91064","type":"state-machine","z":"3672a8e4.bc9648","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["home","away"],"transitions":[{"name":"home","from":"away","to":"home"},{"name":"away","from":"home","to":"away"}],"x":620,"y":380,"wires":[["861a964b.b305d8"]]},{"id":"e823811c.14e7e","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"regex","v":"[0-9.]*","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":380,"wires":[["77d3ce21.07301"],["d455998d.131388"]]},{"id":"d455998d.131388","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["5b867d7e.c91064"]]},{"id":"77d3ce21.07301","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["5b867d7e.c91064"]]},{"id":"861a964b.b305d8","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"away","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":380,"wires":[["eefa483e.77d6d8","bf45f479.ab6348","11d3956a.79b1bb"],["c39c6bd6.86f558"]]},{"id":"eefa483e.77d6d8","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp, switch.pumpkin","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":360,"wires":[[]]},{"id":"bf45f479.ab6348","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"josie_presence","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":320,"wires":[[]]},{"id":"f6928b59.26b6c8","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"joshua_presence","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":160,"wires":[[]]},{"id":"b546acfb.febb6","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"joshua_presence","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[[]]},{"id":"c39c6bd6.86f558","type":"change","z":"3672a8e4.bc9648","name":"","rules":[{"t":"set","p":"josie_presence","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[[]]},{"id":"ce682e52.eff9e","type":"inject","z":"3672a8e4.bc9648","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":540,"wires":[["854c8e93.d5ba6"]]},{"id":"854c8e93.d5ba6","type":"function","z":"3672a8e4.bc9648","name":"","func":"if (global.joshua_presence || global.josie_presence)\n    msg.payload = \"home\";\nelse\n    msg.payload = \"both_away\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":540,"wires":[["18fa21de.7c955e","9879c2d1.0f792"]]},{"id":"18fa21de.7c955e","type":"state-machine","z":"3672a8e4.bc9648","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["both_away","home"],"transitions":[{"name":"home","from":"both_away","to":"home"},{"name":"both_away","from":"home","to":"both_away"}],"x":460,"y":540,"wires":[["afb0a823.f1cba8"]]},{"id":"afb0a823.f1cba8","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"both_away","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":540,"wires":[[],["af334ddb.6e734"]]},{"id":"af334ddb.6e734","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp, switch.floor_lamp, switch.pumpkin","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":540,"wires":[[]]},{"id":"9879c2d1.0f792","type":"debug","z":"3672a8e4.bc9648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":620,"wires":[]},{"id":"11d3956a.79b1bb","type":"join-message","z":"3672a8e4.bc9648","name":"","text":"","title":"Josie is Home","url":"","notificationicon":"","joinConfig":"1c75d688.65f059","x":740,"y":320,"wires":[[]]}]