flows.json
[{"id":"4bc65957.cad3a8","type":"tab","label":"Outside light on after dark","disabled":false,"info":""},{"id":"613d7713.ee4b48","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"3672a8e4.bc9648","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"67db9ee3.6b372","type":"tab","label":"Nighttime","disabled":false,"info":""},{"id":"64aa25ad.8ed09c","type":"tab","label":"Commute Times","disabled":false,"info":""},{"id":"1a0240aa.06adef","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"20392ed7.f5e472","type":"server","z":"","name":"Home Assistant"},{"id":"a3614ad9.1f0228","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c75d688.65f059","type":"join-config","z":"","name":"","register":true},{"id":"a3061cbf.58aad","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc622087.877b4","type":"ui_group","z":"","name":"Default","tab":"a3061cbf.58aad","disp":true,"width":"6","collapse":false},{"id":"1c1f484c.c57c08","type":"join-server","z":"","name":"","port":"1820","joinConfig":"1c75d688.65f059"},{"id":"a8fc6551.2edcc8","type":"api-call-service","z":"4bc65957.cad3a8","name":"Turn on outside light","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_on","entityId":"light.outside","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":40,"wires":[[]]},{"id":"2749ef56.20d87","type":"bigtimer","z":"4bc65957.cad3a8","outtopic":"","outpayload1":"","outpayload2":"","name":"Dark outside","comment":"","lat":"38.6687","lon":"-90.33187","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":110,"y":80,"wires":[["e783c729.daff38"],[],["e783c729.daff38"]]},{"id":"e783c729.daff38","type":"switch","z":"4bc65957.cad3a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":80,"wires":[["a8fc6551.2edcc8"],["5106ae0e.7f5c1"]]},{"id":"5106ae0e.7f5c1","type":"api-call-service","z":"4bc65957.cad3a8","name":"Turn off outside light","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.outside","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":120,"wires":[[]]},{"id":"5fbaffb1.57337","type":"server-state-changed","z":"613d7713.ee4b48","name":"Bedroom Motion Sensor","server":"20392ed7.f5e472","version":1,"entityidfilter":"binary_sensor.bedroom_sensor_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":135,"y":175,"wires":[["f4a4b787.750558"]]},{"id":"f4a4b787.750558","type":"switch","z":"613d7713.ee4b48","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":335,"y":175,"wires":[["8f7fa13f.550e8","d7535b60.5be798","369e651f.359b9a"],[]]},{"id":"6143a9fb.3a6a28","type":"api-call-service","z":"613d7713.ee4b48","name":"Turn on bedroom light","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_on","entityId":"light.joshua_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1125,"y":125,"wires":[[]]},{"id":"714e47c9.e0d868","type":"api-call-service","z":"613d7713.ee4b48","name":"Turn bedroom light off","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.joshua_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":175,"wires":[[]]},{"id":"8f7fa13f.550e8","type":"stoptimer","z":"613d7713.ee4b48","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":580,"y":175,"wires":[["714e47c9.e0d868"],[]]},{"id":"52240cd9.d2df24","type":"time-range-switch","z":"613d7713.ee4b48","name":"","lat":"38.663","lon":"-90.32779","startTime":"05:30","endTime":"10:00","startOffset":0,"endOffset":0,"x":445,"y":50,"wires":[["f3709421.f35b18"],[]]},{"id":"e313ee8d.36d46","type":"function","z":"3672a8e4.bc9648","name":"Home or Both not home","func":"const globalHomeAssistant = global.get('homeassistant');\nconst joshua = globalHomeAssistant.homeAssistant.states[\"person.joshua\"].state === \"home\";\nconst josie = globalHomeAssistant.homeAssistant.states[\"person.josie\"].state === \"home\";\nmsg.states = {joshua:joshua, josie:josie}\nif (joshua || josie) {\n    msg.payload = \"home\";\n    return [msg,null];\n} else {\n    msg.payload = \"both_not_home\";\n    return [null,msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":335,"y":275,"wires":[["a3f24472.b81448"],["a3f24472.b81448"]]},{"id":"a3f24472.b81448","type":"state-machine","z":"3672a8e4.bc9648","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["home","both_not_home"],"transitions":[{"name":"both_not_home","from":"home","to":"both_not_home"},{"name":"home","from":"both_not_home","to":"home"}],"x":580,"y":290,"wires":[["45b8f7ff.b5c4c8"]]},{"id":"45b8f7ff.b5c4c8","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"both_not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":290,"wires":[["2c0d355b.42271a"],["a20c82df.90444"]]},{"id":"a20c82df.90444","type":"api-call-service","z":"3672a8e4.bc9648","name":"Turn off switches","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp, switch.floor_lamp, switch.pumpkin","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":330,"wires":[["5b01c733.9c7f38"]]},{"id":"2c0d355b.42271a","type":"api-call-service","z":"3672a8e4.bc9648","name":"Turn on lamp","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":250,"wires":[["a2e03d67.8258b"]]},{"id":"aed3748b.1874b8","type":"server-state-changed","z":"3672a8e4.bc9648","name":"Joshua presence","server":"20392ed7.f5e472","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.joshua","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":105,"y":225,"wires":[["e313ee8d.36d46","5354fee6.534d6"]]},{"id":"2073a34a.3f971c","type":"server-state-changed","z":"3672a8e4.bc9648","name":"Josie presence","server":"20392ed7.f5e472","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.josie","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":105,"y":350,"wires":[["e313ee8d.36d46","f50d911.c55257"]]},{"id":"e78d17c.df62fe8","type":"switch","z":"3672a8e4.bc9648","name":"home or not home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"left_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":415,"y":400,"wires":[["4b7a978f.c5f9a8","1f8a3d41.6119c3","cca5deb9.00b"],["63023ee8.cdcbf","1dc82d56.a7e0b3"]]},{"id":"a2e03d67.8258b","type":"api-call-service","z":"3672a8e4.bc9648","name":"Turn on switch","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.pumpkin","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1205,"y":325,"wires":[[]]},{"id":"63023ee8.cdcbf","type":"api-call-service","z":"3672a8e4.bc9648","name":"Turn off Josie's bedroom","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.josie_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":685,"y":475,"wires":[[]]},{"id":"fd21462d.201638","type":"api-call-service","z":"3672a8e4.bc9648","name":"Turn off Joshua's bedroom","server":"20392ed7.f5e472","version":1,"service_domain":"light","service":"turn_off","entityId":"light.joshua_s_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":645,"y":175,"wires":[["eb926a4a.11c078"]]},{"id":"10fb2065.f22b8","type":"inject","z":"67db9ee3.6b372","name":"Nighttime","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 23 * * *","once":false,"onceDelay":0.1,"x":145,"y":100,"wires":[["35664d1f.a01552"]]},{"id":"dfc520bd.a4c9a","type":"api-call-service","z":"67db9ee3.6b372","name":"Turn off all switches","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_off","entityId":"group.all_switches","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":275,"wires":[[]]},{"id":"c4c9fdf0.942a4","type":"api-current-state","z":"613d7713.ee4b48","name":"Bedroom light level","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.bedroom_sensor_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":125,"wires":[["5efa38e6.031d98"]]},{"id":"5efa38e6.031d98","type":"switch","z":"613d7713.ee4b48","name":"","property":"data.attributes.dark","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":125,"wires":[["6143a9fb.3a6a28"]]},{"id":"77b2b7e8.9b8c38","type":"inject","z":"67db9ee3.6b372","name":"Daytime - weekday","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["89e1eaaf.8cba48"]]},{"id":"b6eb6161.9cfb6","type":"api-call-service","z":"67db9ee3.6b372","name":"Turn on lamp","server":"20392ed7.f5e472","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":295,"y":400,"wires":[[]]},{"id":"b9dd14b1.d8b428","type":"inject","z":"67db9ee3.6b372","name":"Daytime - weekend","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 6,0","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["89e1eaaf.8cba48"]]},{"id":"8db98a94.863238","type":"api-call-service","z":"64aa25ad.8ed09c","name":"Update Commute Time","server":"20392ed7.f5e472","version":1,"service_domain":"homeassistant","service":"update_entity","entityId":"sensor.google_travel_time_driving","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":435,"y":100,"wires":[[]]},{"id":"faa07a11.035138","type":"inject","z":"64aa25ad.8ed09c","name":"Weekday Mornings","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 6-7 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":175,"y":100,"wires":[["8db98a94.863238","c1869d0f.dc6cd"]]},{"id":"c1869d0f.dc6cd","type":"api-current-state","z":"64aa25ad.8ed09c","name":"Commute Time","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.google_travel_time_driving","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":150,"wires":[["f5f23c79.411b7"]]},{"id":"f5f23c79.411b7","type":"switch","z":"64aa25ad.8ed09c","name":"longer than 29 minutes","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":575,"y":150,"wires":[["1c4d24ed.54d0ab"]]},{"id":"b1ddd18e.56b03","type":"join-message","z":"64aa25ad.8ed09c","name":"Notify Joshua","text":"","title":"Long Commute Time","url":"","notificationicon":"","joinConfig":"1c75d688.65f059","x":955,"y":150,"wires":[[]]},{"id":"1c4d24ed.54d0ab","type":"rbe","z":"64aa25ad.8ed09c","name":"has changed","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":150,"wires":[["b1ddd18e.56b03"]]},{"id":"4b7a978f.c5f9a8","type":"api-call-service","z":"3672a8e4.bc9648","name":"Welcome home","server":"20392ed7.f5e472","version":1,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.living_room_display","data":"{\"message\":\"Welcome home Josie\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":375,"wires":[[]]},{"id":"1f4d1eeb.a07461","type":"api-call-service","z":"3672a8e4.bc9648","name":"Welcome home","server":"20392ed7.f5e472","version":1,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.living_room_display","data":"{\"message\":\"Welcome home Joshua\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":125,"wires":[[]]},{"id":"679fa9f2.ab1ab8","type":"server-state-changed","z":"4bc65957.cad3a8","name":"Raining","server":"20392ed7.f5e472","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"weather.home_2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"rainy?","halt_if_type":"re","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":300,"wires":[["f3cd173.090b1e8"],[]]},{"id":"ff05b47d.7118c8","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["bfa23736.707268"]]},{"id":"bfa23736.707268","type":"api-current-state","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.joshua_s_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":120,"wires":[["9e90f03b.c55be"]]},{"id":"9e90f03b.c55be","type":"debug","z":"1a0240aa.06adef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":120,"wires":[]},{"id":"20809e35.de39f2","type":"api-call-service","z":"4bc65957.cad3a8","name":"Announce rain","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.basement_speaker, media_player.living_room_display, media_player.joshua_s_bedroom_speaker, media_player.kitchen_speaker","data":"{\"message\":\"It is currently raining\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":300,"wires":[["3e5b7dc1.60f1f2"]]},{"id":"35664d1f.a01552","type":"api-call-service","z":"67db9ee3.6b372","name":"Turn on night mode","server":"20392ed7.f5e472","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":100,"wires":[[]]},{"id":"89e1eaaf.8cba48","type":"api-call-service","z":"67db9ee3.6b372","name":"Turn off night mode","server":"20392ed7.f5e472","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":175,"wires":[[]]},{"id":"edac3c6f.f3bc6","type":"poll-state","z":"67db9ee3.6b372","name":"Night mode on (every hour)","server":"20392ed7.f5e472","version":1,"updateinterval":"1","updateIntervalUnits":"hours","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.night_mode","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":130,"y":280,"wires":[["dfc520bd.a4c9a"],[]]},{"id":"3cbc1740.cb4458","type":"server-state-changed","z":"67db9ee3.6b372","name":"Night mode on","server":"20392ed7.f5e472","version":1,"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":360,"wires":[["dfc520bd.a4c9a"],["b6eb6161.9cfb6"]]},{"id":"814c83eb.5433e","type":"server-state-changed","z":"613d7713.ee4b48","name":"Bedroom light turned on","server":"20392ed7.f5e472","version":1,"entityidfilter":"light.joshua_s_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":475,"y":250,"wires":[["8f7fa13f.550e8"],[]]},{"id":"aaf008b1.e49478","type":"api-current-state","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.uptime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":220,"wires":[["9e90f03b.c55be"]]},{"id":"7c0fb563.527acc","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["aaf008b1.e49478"]]},{"id":"4660f1e5.c9c15","type":"api-call-service","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"notify","service":"home_pixel_3","entityId":"","data":"{\"message\":\"Home Assistant Restarted\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":300,"wires":[[]]},{"id":"d288bf74.dd7fb","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":450,"wires":[["4660f1e5.c9c15"]]},{"id":"d7535b60.5be798","type":"api-current-state","z":"613d7713.ee4b48","name":"Joshua not home","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.joshua","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":315,"y":325,"wires":[["ceab041f.582ad8"],[]]},{"id":"ceab041f.582ad8","type":"api-call-service","z":"613d7713.ee4b48","name":"Notify Joshua","server":"20392ed7.f5e472","version":1,"service_domain":"notify","service":"home_pixel_3","entityId":"","data":"{\"message\":\"Motion Detected in Bedroom\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":505,"y":325,"wires":[[]]},{"id":"626fc6dc.cec228","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":625,"wires":[["405fd957.598948"]]},{"id":"405fd957.598948","type":"api-call-service","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"cast","service":"show_lovelace_view","entityId":"media_player.living_room_display","data":"{\"view_path\":\"home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":755,"y":550,"wires":[[]]},{"id":"123fdff2.11014","type":"api-call-service","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.living_room_display","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":675,"wires":[[]]},{"id":"c2e4c10a.a69bf","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":485,"y":675,"wires":[["123fdff2.11014"]]},{"id":"371d9b34.b31074","type":"api-call-service","z":"4bc65957.cad3a8","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.all_speakers","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1095,"y":300,"wires":[[]]},{"id":"4310b889.c63b08","type":"link out","z":"3672a8e4.bc9648","name":"","links":["dea27b04.92fe88"],"x":390,"y":150,"wires":[]},{"id":"1f8a3d41.6119c3","type":"link out","z":"3672a8e4.bc9648","name":"","links":["dea27b04.92fe88"],"x":515,"y":350,"wires":[]},{"id":"dea27b04.92fe88","type":"link in","z":"3672a8e4.bc9648","name":"","links":["4310b889.c63b08","1f8a3d41.6119c3"],"x":90,"y":625,"wires":[["a93e52d0.83aa1"]]},{"id":"a93e52d0.83aa1","type":"stoptimer","z":"3672a8e4.bc9648","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":215,"y":625,"wires":[["aff165e7.1d99f8"],[]]},{"id":"aff165e7.1d99f8","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.living_room_display","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":495,"y":625,"wires":[[]]},{"id":"3e5b7dc1.60f1f2","type":"delay","z":"4bc65957.cad3a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":300,"wires":[["371d9b34.b31074"]]},{"id":"f3cd173.090b1e8","type":"time-range-switch","z":"4bc65957.cad3a8","name":"","lat":"38.55344","lon":"-90.41453","startTime":"07:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":270,"y":300,"wires":[["603600a9.5d76d"],[]]},{"id":"329458e6.3cb1e8","type":"bigtimer","z":"3672a8e4.bc9648","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"37.09024","lon":"-95.71289","starttime":"5000","endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":860,"y":425,"wires":[["bef64b8d.8865a8"],[],["bef64b8d.8865a8"]]},{"id":"bef64b8d.8865a8","type":"switch","z":"3672a8e4.bc9648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":425,"wires":[["a2e03d67.8258b"],[]]},{"id":"ddbf8bc2.40e228","type":"api-current-state","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.all_speakers","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":825,"wires":[["6dc3ac45.5580b4"]]},{"id":"6dc3ac45.5580b4","type":"debug","z":"1a0240aa.06adef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":875,"wires":[]},{"id":"eca08155.7c0ef","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":825,"wires":[["ddbf8bc2.40e228"]]},{"id":"603600a9.5d76d","type":"function","z":"4bc65957.cad3a8","name":"All media players off","func":"const globalHomeAssistant = global.get('homeassistant');\nconst speakers = [\"basement_speaker\",\"joshua_s_bedroom_speaker\",\"josie_s_bedroom_speaker\",\"living_room_display\",\"kitchen_speaker\"];\nfor(var speaker in speakers) {\n    if(globalHomeAssistant.homeAssistant.states[\"media_player.\" + speakers[speaker]].state !== \"off\") {\n        return null;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":475,"y":300,"wires":[["20809e35.de39f2"]]},{"id":"70fb373e.b6b2d8","type":"function","z":"4bc65957.cad3a8","name":"All media players off","func":"const globalHomeAssistant = global.get('homeassistant');\nnode.error(globalHomeAssistant);\nconst speakers = [\"basement_speaker\",\"joshua_s_bedroom_speaker\",\"josie_s_bedroom_speaker\",\"living_room_display\",\"kitchen_speaker\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":450,"wires":[["d7490bee.f1fc18"]]},{"id":"d7490bee.f1fc18","type":"debug","z":"4bc65957.cad3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":675,"y":450,"wires":[]},{"id":"10f9f78b.703478","type":"inject","z":"4bc65957.cad3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":450,"wires":[["70fb373e.b6b2d8"]]},{"id":"e26dd69e.0aaf78","type":"api-current-state","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.bedroom_sensor_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":925,"wires":[["6dc3ac45.5580b4"]]},{"id":"28fcaef2.d32c02","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":925,"wires":[["e26dd69e.0aaf78"]]},{"id":"3bfb15f6.1b4c5a","type":"api-current-state","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.pixel_3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1000,"wires":[["6dc3ac45.5580b4"]]},{"id":"9a2b1393.de9bc","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["3bfb15f6.1b4c5a"]]},{"id":"369e651f.359b9a","type":"api-current-state","z":"613d7713.ee4b48","name":"if sleeping","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":125,"wires":[["c4c9fdf0.942a4"],["52240cd9.d2df24"]]},{"id":"f09a05ae.6760d8","type":"api-current-state","z":"1a0240aa.06adef","name":"","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1075,"wires":[["6dc3ac45.5580b4"]]},{"id":"dde2e5d0.8a6ba8","type":"inject","z":"1a0240aa.06adef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1075,"wires":[["f09a05ae.6760d8"]]},{"id":"f3709421.f35b18","type":"api-call-service","z":"613d7713.ee4b48","name":"turn off sleeping","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleeping","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":50,"wires":[["c4c9fdf0.942a4"]]},{"id":"a27dd211.7b7c","type":"bigtimer","z":"613d7713.ee4b48","outtopic":"","outpayload1":"start","outpayload2":"stop","name":"Big Timer","comment":"","lat":"38.55343","lon":"-90.4145","starttime":"360","endtime":"420","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"1","xmonth1":"1","xday2":0,"xmonth2":0,"xday3":"4","xmonth3":"7","xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":"25","xmonth6":"12","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":85,"y":500,"wires":[["b7d83958.b3d788"],[],[]]},{"id":"b2cdb7aa.0e6e38","type":"api-call-service","z":"613d7713.ee4b48","name":"Wake up","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.joshua_s_bedroom_speaker","data":"{\"message\":\"It's time to get up\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":500,"wires":[[]]},{"id":"faa4ca0a.7211e8","type":"looptimer","z":"613d7713.ee4b48","duration":"5","units":"Minute","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":480,"y":500,"wires":[["44b04f35.d294d"],[]]},{"id":"44b04f35.d294d","type":"api-current-state","z":"613d7713.ee4b48","name":"if sleeping","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":500,"wires":[["42b67cef.496514"],[]]},{"id":"42b67cef.496514","type":"api-current-state","z":"613d7713.ee4b48","name":"if home","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.joshua","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":810,"y":500,"wires":[["b2cdb7aa.0e6e38"],[]]},{"id":"24781f20.bbb3f","type":"bigtimer","z":"613d7713.ee4b48","outtopic":"","outpayload1":"start","outpayload2":"stop","name":"Big Timer","comment":"","lat":"38.55343","lon":"-90.4145","starttime":"345","endtime":"360","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"1","xmonth1":"1","xday2":0,"xmonth2":0,"xday3":"4","xmonth3":"7","xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":"25","xmonth6":"12","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":95,"y":625,"wires":[["d52cb755.fff158"],[],[]]},{"id":"9b899950.494a08","type":"api-call-service","z":"613d7713.ee4b48","name":"Wake up","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.joshua_s_bedroom_speaker","data":"{\"message\":\"It's time to go for a run\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":625,"wires":[[]]},{"id":"c35e76f9.9c0068","type":"looptimer","z":"613d7713.ee4b48","duration":"3","units":"Minute","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":605,"y":625,"wires":[["21a4b0f3.c5418"],[]]},{"id":"21a4b0f3.c5418","type":"api-current-state","z":"613d7713.ee4b48","name":"if sleeping","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":785,"y":625,"wires":[["b7eb22aa.6b408"],[]]},{"id":"b7eb22aa.6b408","type":"api-current-state","z":"613d7713.ee4b48","name":"if home","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.joshua","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":945,"y":625,"wires":[["9b899950.494a08"],[]]},{"id":"743915bc.d2d6cc","type":"api-current-state","z":"613d7713.ee4b48","name":"if running","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.running","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":435,"y":625,"wires":[["c35e76f9.9c0068"],[]]},{"id":"f8891d3b.190b2","type":"inject","z":"613d7713.ee4b48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":320,"y":975,"wires":[["1c304db5.0efbf2"]]},{"id":"1c304db5.0efbf2","type":"api-call-service","z":"613d7713.ee4b48","name":"not running","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":505,"y":975,"wires":[[]]},{"id":"a5e544e8.f33fd8","type":"api-current-state","z":"613d7713.ee4b48","name":"if sleeping","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleeping","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":785,"y":750,"wires":[["ebf4eb85.964fd8"],[]]},{"id":"ebf4eb85.964fd8","type":"api-current-state","z":"613d7713.ee4b48","name":"if home","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.joshua","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":935,"y":750,"wires":[["b34d3b50.670ec8"],[]]},{"id":"4750b213.3b23dc","type":"switch","z":"613d7713.ee4b48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":750,"wires":[["a5e544e8.f33fd8"]]},{"id":"eb533490.032378","type":"bigtimer","z":"613d7713.ee4b48","outtopic":"","outpayload1":"start","outpayload2":"stop","name":"Big Timer","comment":"","lat":"38.55343","lon":"-90.4145","starttime":"360","endtime":"420","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"1","xmonth1":"1","xday2":0,"xmonth2":0,"xday3":"4","xmonth3":"7","xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":"25","xmonth6":"12","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":725,"wires":[["72439fb1.fa26f"],[],[]]},{"id":"f6881eb5.2114","type":"bigtimer","z":"613d7713.ee4b48","outtopic":"","outpayload1":"start","outpayload2":"stop","name":"Big Timer","comment":"","lat":"38.55343","lon":"-90.4145","starttime":"345","endtime":"360","starttime2":0,"endtime2":0,"startoff":"-10","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"1","xmonth1":"1","xday2":0,"xmonth2":0,"xday3":"4","xmonth3":"7","xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":"25","xmonth6":"12","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":800,"wires":[["2832611f.92023e"],[],[]]},{"id":"b34d3b50.670ec8","type":"api-call-service","z":"613d7713.ee4b48","name":"","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.joshua_s_bedroom","data":"{\"transition\": \"300\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1115,"y":750,"wires":[[]]},{"id":"4f7d301f.fc03c","type":"api-current-state","z":"613d7713.ee4b48","name":"if not running","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.running","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":470,"y":725,"wires":[["4750b213.3b23dc"],[]]},{"id":"bf840745.0b1388","type":"api-current-state","z":"613d7713.ee4b48","name":"if running","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.running","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":800,"wires":[["4750b213.3b23dc"],[]]},{"id":"b7d83958.b3d788","type":"api-current-state","z":"613d7713.ee4b48","name":"if not on vacation","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vacation","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":265,"y":500,"wires":[["faa4ca0a.7211e8"],[]]},{"id":"d52cb755.fff158","type":"api-current-state","z":"613d7713.ee4b48","name":"if not on vacation","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vacation","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":265,"y":625,"wires":[["743915bc.d2d6cc"],[]]},{"id":"72439fb1.fa26f","type":"api-current-state","z":"613d7713.ee4b48","name":"if not on vacation","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vacation","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":290,"y":725,"wires":[["4f7d301f.fc03c"],[]]},{"id":"2832611f.92023e","type":"api-current-state","z":"613d7713.ee4b48","name":"if not on vacation","server":"20392ed7.f5e472","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vacation","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":290,"y":800,"wires":[["bf840745.0b1388"],[]]},{"id":"1dc82d56.a7e0b3","type":"api-call-service","z":"3672a8e4.bc9648","name":"slack: Josie left home","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\":house::no_entry_sign::woman:Josie left home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":675,"y":525,"wires":[[]]},{"id":"cca5deb9.00b","type":"api-call-service","z":"3672a8e4.bc9648","name":"slack: Josie home","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\":house::white_check_mark::woman:Josie is home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":665,"y":425,"wires":[[]]},{"id":"ba10da4c.c14858","type":"api-call-service","z":"3672a8e4.bc9648","name":"slack: Joshua home","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\":house::white_check_mark::man:Joshua is home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":525,"y":75,"wires":[[]]},{"id":"eb926a4a.11c078","type":"api-call-service","z":"3672a8e4.bc9648","name":"slack: Joshua left home","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\":house::no_entry_sign::man:Joshua left home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":175,"wires":[[]]},{"id":"5b01c733.9c7f38","type":"api-call-service","z":"3672a8e4.bc9648","name":"slack: No one home","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\":house::bulb:No one home, lights are turned off\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":250,"wires":[[]]},{"id":"4dd93a1f.398844","type":"server-state-changed","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"entityidfilter":"calendar.vacation","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":800,"wires":[["b5b19c64.c0bdc"],["2d1b2e3f.b4ba32"]]},{"id":"b5b19c64.c0bdc","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.vacation","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":775,"wires":[[]]},{"id":"2d1b2e3f.b4ba32","type":"api-call-service","z":"3672a8e4.bc9648","name":"","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.vacation","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":825,"wires":[[]]},{"id":"af5653d8.081da","type":"api-call-service","z":"3672a8e4.bc9648","name":"slack: Joshua left work","server":"20392ed7.f5e472","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\":office::no_entry_sign::man:Joshua left work\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":625,"y":250,"wires":[[]]},{"id":"c40c9027.b812","type":"api-current-state","z":"3672a8e4.bc9648","name":"Joshua","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.joshua","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":110,"y":175,"wires":[["5354fee6.534d6","e313ee8d.36d46"]]},{"id":"f516a05b.948d9","type":"inject","z":"3672a8e4.bc9648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":125,"wires":[["c40c9027.b812"]]},{"id":"5354fee6.534d6","type":"state-machine","z":"3672a8e4.bc9648","name":" ","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["home","left_home","work","left_work"],"transitions":[{"name":"home","from":"left_home","to":"home"},{"name":"panera","from":"left_home","to":"work"},{"name":"not_home","from":"work","to":"left_work"},{"name":"not_home","from":"home","to":"left_home"},{"name":"home","from":"left_work","to":"home"},{"name":"panera","from":"left_work","to":"work"},{"name":"panera","from":"home","to":"work"},{"name":"home","from":"work","to":"home"}],"x":275,"y":225,"wires":[["931f2ab4.fc2aa8"]]},{"id":"931f2ab4.fc2aa8","type":"switch","z":"3672a8e4.bc9648","name":" ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"work","vt":"str"},{"t":"eq","v":"left_home","vt":"str"},{"t":"eq","v":"left_work","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":400,"y":225,"wires":[["1f4d1eeb.a07461","ba10da4c.c14858","4310b889.c63b08"],[],["fd21462d.201638"],["af5653d8.081da"]]},{"id":"f50d911.c55257","type":"state-machine","z":"3672a8e4.bc9648","name":" ","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["home","left_home"],"transitions":[{"name":"home","from":"left_home","to":"home"},{"name":"not_home","from":"home","to":"left_home"}],"x":250,"y":400,"wires":[["e78d17c.df62fe8"]]},{"id":"ebcc2010.35c3d","type":"inject","z":"3672a8e4.bc9648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["c6489d99.bc91"]]},{"id":"c6489d99.bc91","type":"api-current-state","z":"3672a8e4.bc9648","name":"Josie","server":"20392ed7.f5e472","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.josie","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":125,"y":425,"wires":[["f50d911.c55257","e313ee8d.36d46"]]}]